<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="com.ubaid.forj" level="DEBUG"/>
    <logger name="java.sql" level="TRACE"/>
    <logger name="org.postgresql" level="TRACE"/>
    <logger name="org.apache.commons.dbcp2" level="TRACE"/>
    <logger name="com.zaxxer.hikari" level="TRACE"/>
</configuration>